@charset "utf-8";

/*
 *  SHOPPINGNT
 *  Moon Yeon Hee(Jenny)
 *  2018.10.05
 */

/* body */
body {position:relative; width:100%; margin:0 auto;}
body:after {display:block; clear:both; content:'';}

/* header */
#header{position:relative;}
.header-box{position:relative;}
.header-box .gnb{position:relative;width:1140px;height:86px;margin:0 auto;background:#fff;}
.header-box .gnb:after{display:block;clear:both;content:'';}
.header-box .gnb h1{position:absolute;top:20px;left:0;width:120px;height:46px;font-size:0;color:transparent;z-index:10;}
.header-box .gnb h1 .logo{display:inline-block;width:120px;height:46px;background:url(../../images/common/logo.png) 0 -46px no-repeat;text-indent:101%;white-space: nowrap;}
.header-box .gnb .inner{position:absolute;top:0;left:265px;width:875px;}
.header-box .gnb .inner:after{display:block;clear:both;content:''}
.header-box .gnb .inner li{float:left;margin:0 70px 0 0;height:86px;}
.header-box .gnb .inner li span{color:#111;font-size:20px;line-height:86px;}
/*.header-box .gnb .inner li{float:left;margin:0 75px 0 0;height:86px;}
.header-box .gnb .inner li a{display:block;padding:35px 15px 31px;font-size:18px;color:#fff;font-weight:600;line-height:86px;}
.header-box .gnb .inner li a:hover,.header-box .gnb .inner li a.selected{color:#b61549;border-bottom:2px solid #b61549;}
.header-box .gnb .inner li span{display:block;width:70px;margin:35px 0 0;font-size:0;height:20px;background:url(../../images/common/tit-gnb.png) no-repeat;background-position-y:-20px;cursor:pointer;}
.header-box .gnb .inner .menu-txt02 span{background-position-x:-144px;}
.header-box .gnb .inner .menu-txt03 span{background-position-x:-288px;}
.header-box .gnb .inner .menu-txt04 span{background-position-x:-432px;}
.header-box .gnb .inner .menu-txt05 span{width:172px;background-position-x:-578px;}*/
.header-box .snb{display:none;position:absolute;top:0;left:0;width:100%;background:#fff;box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);z-index:3;}
.header-box .snb:before {content:'';display:block;position:absolute;top:86px;left:0;width:100%;height:1px;background:#cbcbcb;}
.header-box .snb .tit-top{position:relative;width:1140px;margin:0 auto;height:86px;}
.header-box .snb .tit-top h2{position:absolute;top:20px;left:0;width:120px;height:46px;font-size:0;color:transparent;z-index:10;}
.header-box .snb .tit-top h2 .logo{display:inline-block;width:120px;height:46px;background:url(../../images/common/logo.png) 0 -46px no-repeat;text-indent:101%;white-space: nowrap;}
.header-box .snb .tit-top ul{margin-left:250px;}
.header-box .snb .tit-top ul:after{display:block;clear:both;content:''}
.header-box .snb .tit-top ul li{float:left;margin:0 40px 0 0;}
.header-box .snb .tit-top ul li a{display:block;padding:0 15px;height:85px;line-height:86px;color:#222;font-size:20px;}
.header-box .snb .tit-top ul li a:hover{color:#b61549;border-bottom:2px solid #b61549;}
/*.header-box .snb .tit-top ul li a span{display:block;width:70px;height:20px;margin:35px 0 0;font-size:0;background:url(../../images/common/tit-gnb.png) no-repeat;background-position-y:-20px;}
.header-box .snb .tit-top ul li a:hover span{background-position-y:-40px;}
.header-box .snb .tit-top .menu-txt02 span{background-position-x:-144px;}
.header-box .snb .tit-top .menu-txt03 span{background-position-x:-288px;}
.header-box .snb .tit-top .menu-txt04 span{background-position-x:-432px;}
.header-box .snb .tit-top .menu-txt05 span{width:172px;background-position-x:-578px;}*/
.main .header-box{top:86px;margin-top:-86px;}
.main .header-box .gnb{background:none;z-index:2;}
.main .header-box .gnb h1 .logo{background-position:0 0;}
.main .header-box .gnb .inner li span{color:#fff;}
.main .header-box .snb{top:0;}
.header-box .snb .inner{position:relative;width:1140px;height:302px;margin:0 auto;}
.header-box .snb .inner ul{position:absolute;top:16px;}
.header-box .snb .inner ul li{line-height:37px;}
.header-box .snb .inner ul li a{color:#222;font-size:16px;font-family:'NotoSans DemiLight';}
.header-box .snb .inner ul li a:hover{color:#b61549;text-decoration:underline;}
.header-box .snb .inner .snb-01{left:265px;}
.header-box .snb .inner .snb-02{left:409px;}
.header-box .snb .inner .snb-03{left:552px;}
.header-box .snb .inner .snb-04{left:696px;}
.header-box .snb .inner .snb-05{left:840px;}

/* footer */
#footer {position:relative;border-top:1px solid #777;}
.foot-family{position:relative;width:1015px;margin:0 auto;padding:0 0 0 125px;height:60px;background:#fff;z-index:1;}
.foot-family li{display:inline-block;margin-right:25px;text-align:left;}
.foot-family li a{color:#373737;font-size:14px;line-height:60px;}
.family-site {position:absolute;top:0;right:0;height:60px;width:166px;border-left:1px solid #c7c7c7;border-right:1px solid #c7c7c7;text-align:center;cursor:pointer}
.family-site .site-open{font-size:14px;color:#373737;line-height:60px;font-family:'Verdana';}
.family-site .site-open:after{content:'';padding-right:48px;background:url(../../images/common/btn-arr.png) right center no-repeat;}
.family-site.selected .site-open:after{background:url(../../images/common/btn-arr-02.png) right center no-repeat;}
.family-layer {position:absolute;top:0;left:50%;width:1138px;height:0;margin-left:-570px;border:1px solid #c7c7c7;background:#fff;text-align:left;overflow:hidden;z-index:0;}
.family-layer > ul {padding:0;}
.family-layer ul li {margin:0;padding:0;background:none;font-size:0;line-height:0;}
.family-layer > ul > li { float:left; width:227px;height:230px; border-left:1px solid #c7c7c7;}
.family-layer > ul > li:first-child { width:226px;border-left:0;}
.family-layer > ul > li > h2 {height:30px;padding:10px 0 0 15px; border-bottom:1px solid #c7c7c7;background:#f1f1f1; color:#373737; font-weight:bold; font-size:14px; line-height:22px;}
.family-layer > ul > li > ul {padding:11px 0 0 15px;}
.family-layer > ul > li > ul > li {margin:5px 0 0;}
.family-layer > ul > li > ul > li > a {display:inline-block;color:#666;font-size:12px;line-height:18px;vertical-align:top;}
.family-layer > ul > li > ul > li > a:hover {color:#333; text-decoration:underline;}
.addr-wrap{position:relative;border-top:1px solid #c7c7c7;background:#fff;z-index:1;}
.addr-wrap .addr-box{position:relative;width:1140px;margin:0 auto;padding:20px 0 25px;}
.addr-wrap .f-logo{position:absolute;left:0;top:33px;}
.addr-wrap .addr-list{margin:0 0 0 125px;}
.addr-wrap .addr-list ul{margin:0 0 6px;}
.addr-wrap .addr-list ul:after{display:block;clear:both;content:''}
.addr-wrap .addr-list ul li{float:left;height:16px;line-height:16px;margin-right:10px;padding-left:10px;font-size:12px;color:#373737;border-left:1px solid #ccc;font-family:'NotoSans DemiLight'}
.addr-wrap .addr-list ul li:first-child{border:none;padding:0;}

/* container */
#container {position:relative;}

/* main */
.main-visual{position:relative;background:url(../../images/main/bg-main-visual.png) repeat-x;}
.main .swiper-slide{height:870px;}
.main .swiper-slide .showcase{height:870px}
.main .swiper-slide .showcase.img1{background:url(../../images/main/img-showcase-01.jpg) top center no-repeat;}
.main .swiper-slide .showcase.img2{background:url(../../images/main/img-showcase-02.jpg) top center no-repeat;}
.main .swiper-slide .showcase.img3{background:url(../../images/main/img-showcase-03.jpg) top center no-repeat;}
.main .swiper-slide .showcase:after {content:'';position:absolute;top:0;left:0;height:160px;width:100%;background: url(../../images/main/bg-main-visual.png) repeat-x;z-index: 1;}
.main .swiper-slide .txt-box{width:1140px;margin:0 auto;padding:190px 0 0;}
.main .swiper-container-horizontal .swiper-pagination{position:absolute;top:428px;left:50%;margin-left:-580px;width:120px;height:20px;text-align:left;}
.main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 10px; width:18px;height:18px;border:1px solid #fff;border-radius:inherit;background:none;opacity:1;}
.main .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#fff;}
.main .swiper-container .swiper-control{position:absolute;top:428px;left:50%;margin-left:-450px;width:20px;height:20px;z-index:1;}
.main .swiper-container .swiper-control span{display:block;width:20px;height:20px;font-size:0;color:transparent;text-indent:-9999px;cursor:pointer;}
.main .swiper-container .swiper-control .recom-stop{background:url(../../images/main/btn-stop.png) no-repeat;}
.main .swiper-container .swiper-control .recom-play{background:url(../../images/main/btn-play.png) no-repeat;}
.main-gate{position:absolute;bottom:32px;left:50%;width:1140px;margin-left:-570px;z-index:1;}
.main-gate ul:after{display:block;clear:both;content:'';}
.main-gate ul li{float:left;width:380px;height:300px;opacity:0.9;}
.main-gate ul li.gate1{background:#0086c5;}
.main-gate ul li.gate2{background:#ce0546;}
.main-gate ul li.gate3{background:#192069;}
.main-gate ul li .gate-box{padding:40px 40px;}
.main-gate ul li .gate-box span{display:block;color:#fff;}
.main-gate ul li .gate-box .tit{font-size:31px;font-weight:400;}
.main-gate ul li .gate-box .txt{margin:18px 0 0;font-size:15px;line-height:22px;}
.main-gate ul li .gate-box .btn-gate{display:block;margin:31px 0 0;width:58px;height:48px;border:1px solid #fff;}
.main-gate ul li .gate-box .btn-gate:before{content:'';display:block;width:58px;height:48px;background:url(../../images/main/btn-gate.png) no-repeat;-webkit-transition:-webkit-transform .2s;transition:-webkit-transform .2s;-o-transition:transform .2s;transition:transform .2s;transition:transform .2s,-webkit-transform .2s;}
.main-gate ul li .gate-box .btn-gate:hover:before{-webkit-transform:translate(5px, 0);-ms-transform:translate(5px, 0);transform:translate(5px, 0)}
.main-gate ul li .gate-box .btn-gate span{box-sizing:content-box;position:absolute;text-indent:-9999px;z-index:-1;display:inline-block;overflow:hidden;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;padding:0;word-break:keep-all;white-space:nowrap;border:0;color:transparent;font:0/0 a;*height:0;}
.trn-notice{width:1140px;margin:0 auto;padding:80px 0;}
.trn-notice h3{color:#222;font-size:34px;font-weight:bold;text-align:center;line-height:33px;}
.trn-notice .noti-list{padding:50px 0 0;}
.trn-notice .noti-list:after{display:block;clear:both;content:''}
.trn-notice .noti-list li{float:left;width:340px;margin-left:60px;}
.trn-notice .noti-list li:first-child{margin-left:0;}
.trn-notice .noti-list li a{display:block;}
.trn-notice .noti-list li a span{display:block;overflow:hidden;}
.trn-notice .noti-list li a .pre-txt{margin:15px 5px 0;font-size:20px;line-height:27px;color:#222;}
/*.trn-notice .noti-list li a:hover .pre-txt{text-decoration:underline;}*/
.trn-notice .noti-list li a .pre-data{margin:20px 5px 0;font-size:14px;color:#666;font-family:'NotoSans Light'}
.trn-notice .noti-list li a .pre-data em{margin:0 10px 0 0;color:#ca0d4a;font-family:'NotoSans DemiLight'}
.trn-notice .noti-list li a .pre-img img{display:block;}
.trn-notice .noti-list li a .pre-img{border:1px solid #fff;}
.trn-shortcuts{position:relative;background:url(../../images/main/bg-shortcus.jpg) top center no-repeat;}
.trn-shortcuts:before{content:'';position:absolute;top:0;left:0;width:100%;height:430px;background:#1c3a72;z-index:-1;}
.trn-shortcuts h3{box-sizing:content-box;position:absolute;text-indent:-9999px;z-index:-1;display:inline-block;overflow:hidden;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;padding:0;word-break:keep-all;white-space:nowrap;border:0;color:transparent;font:0/0 a;*height:0;}
.trn-shortcuts .shortcuts-list{width:1220px; margin:0 auto;padding:50px 0px 86px 20px}
.trn-shortcuts .shortcuts-list:after{display:block;clear:both;content:'';}
.trn-shortcuts .shortcuts-list li{float:left;width:540px;height:420px;margin:0 30px;text-align:center;box-shadow:13px 13px 38px 1px rgba(0,0,0,0.25);}

/* tit-box */
.tit-box{height:270px;}
.tit-box.about{background:url(../../images/about/bg-sub-01.jpg) top center no-repeat;}
.tit-box.business{background:url(../../images/about/bg-sub-02.jpg) top center no-repeat;}
.tit-box.news{background:url(../../images/about/bg-sub-03.jpg) top center no-repeat;}
.tit-box.careers{background:url(../../images/about/bg-sub-04.jpg) top center no-repeat;}
.tit-box.customer{background:url(../../images/about/bg-sub-05.jpg) top center no-repeat;}
.tit-box .tit-info{width:1140px;margin:0 auto;text-align:left;padding-top:122px;line-height:34px;}
.tit-box .tit-info span{display:block;}
.tit-box .tit-info .title{font-size:18px;color:#05b7fb;}
.tit-box .tit-info .text{margin:5px 0 0;font-size:24px;color:#fff;}
.sec-sub{width:1140px;margin:0 auto;padding:50px 0;}
.sec-sub .h4-tit{padding:0 0 12px;color:#111;font-size:24px;font-weight:bold;border-bottom:2px solid #111;}

/* about */
.about{}
.about .top-img{margin:30px 0;}
.about dl{margin:0 0 50px;}
.about dl:after{display:block;clear:both;content:''}
.about dt{float:left;width:310px;color:#111;font-size:28px;font-weight:bold;line-height:42px;letter-spacing:-1px;}
.about dd{float:left;width:830px;color:#000;font-size:16px;line-height:24px;font-family:'NotoSans Light';}
.about dd strong{font-family:'NotoSans Regular';}
.about dd em{color:#111;font-size:16px;font-weight:bold;}

/* business */
.business{}

/* news */
.news{}

/* careers */
.careers{}

/* customer */
.customer{}
